<app-overlay></app-overlay>
<div class="page-login">
  <div class="container-login">
    <div class="top-bar">
      <div class="top-bar_block">
        <img
          class="logo"
          src="../../../assets/logo.svg"
          alt="logo"
        />
        <a
          href="#"
          class="home-link"
          >Home</a
        >
        <a
          class="career-link"
          (click)="toCareer()"
          >Career</a
        ></div
      >
      <div class="top-bar_block">
        <div class="membership-btn_background"
          ><button class="membership-btn">Membership</button></div
        >
        <button class="login-btn">Login</button>
      </div>
      <div class="top-bar_block-mob">
        <img
          class="status-bar"
          src="../../../assets/status-bar-mob.svg"
          alt="status-bar"
        />
      </div>
      <img
        (click)="toggleBurgerMenu()"
        class="burger"
        src="../../../assets/burger.svg"
        alt="burger menu"
      />
    </div>

    <div class="main">
      <div class="main_content">
        <img
          src="../../../assets/background-logo-small.svg"
          alt="logo"
          class="logo-small"
        />
        <button class="main_content__discord"
          ><span
            ><img
              src="../../../assets/discord.svg"
              alt="discord-icon" /></span
          ><span>Continue with Discord</span></button
        >
        <button class="main_content__gmail">Continue with Email</button>
      </div>
    </div>
    <div class="footer">
      <div class="footer_logo">
        <img
          src="../../../assets/logo-footer.svg"
          alt="logo"
        />
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</div>

<!-- Burger -->

<div *ngIf="burger === true">
  <app-burger-menu (closedBurger)="handleBurgerClose($event)"></app-burger-menu>
</div>
<div
  *ngIf="burger === true"
  class="burger-overlay"
  (click)="toggleBurgerMenu()"
></div>
