.container-login {
  width: 1440px;
  height: 1118px;
  margin: 0px auto;
}
.top-bar {
  display: flex;
  height: 88px;
  padding-left: 24px;
  padding-right: 30px;
  align-items: center;
  justify-content: space-between;
}
.top-bar_block {
  display: flex;
  align-items: center;
}
.logo {
  width: 115px;
  height: 32px;
}
.home-link {
  margin-left: 48px;
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -1px;
  text-decoration: none;
  cursor: pointer;
}
.membership-btn_background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#04e08a, #05cef2);
  border-radius: 8px;
  margin-right: 10px;
  height: 38px;
  width: 119px;
}
.membership-btn {
  position: relative;
  height: 36px;
  width: 117px;
  border-radius: 8px;
  border: none;
  background-color: rgb(0, 0, 0);
  color: #04e08a;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  margin: -1px;
  cursor: pointer;
}

.membership-btn:hover {
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.788);
  box-shadow: rgba(235, 221, 221, 0.16) 0px 10px 16px 0px,
    rgba(226, 208, 208, 0.493) 0px 0px 0px 1px;
}
.login-btn {
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 0.5px solid rgba(255, 255, 255, 0.4);
  background: var(--grad-2, linear-gradient(152deg, #81edb9 0%, #c2f0ed 100%));
  height: 36px;
  padding: 12px 20px;
  color: #082618;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
}
.main {
  background-image: url('../../assets/background-logo.svg');
  height: 822px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 47px;
}
.main_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-small {
  margin-top: 359px;
  margin-bottom: 32px;
}
.main_content__discord {
  display: flex;
  width: 280px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 6px;
  border: none;
  background: linear-gradient(0deg, #5865f2 0%, #5865f2 100%), #81edb9;
  box-shadow: 0px 5px 10px 0px rgba(0, 165, 234, 0.18);
  padding: 12px 32px;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  letter-spacing: -0.3px;
  color: white;
  cursor: pointer;
}
.main_content__gmail {
  display: flex;
  width: 280px;
  height: 48px;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #81edb9;
  color: #082618;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  letter-spacing: -0.3px;
  border: none;
  margin-top: 8px;
  cursor: pointer;
}
.footer {
  height: 46px;
  padding-top: 162px;
}
.footer_logo {
  margin: 0px auto;
  text-align: center;
}
