.container-career {
  max-width: 1440px;
  min-height: 922px;
  margin: 0px auto;
}
.top-bar {
  display: flex;
  height: 88px;
  padding-left: 24px;
  padding-right: 30px;
  align-items: center;
  justify-content: space-between;
}
.top-bar_block {
  display: flex;
  align-items: center;
}
.logo {
  width: 115px;
  height: 32px;
}
.home-link {
  margin-left: 48px;
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -1px;
  text-decoration: none;
  cursor: pointer;
}
.home-link:hover {
  color: #05f2cb;
}
.membership-btn_background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#04e08a, #05cef2);
  border-radius: 8px;
  margin-right: 10px;
  height: 38px;
  width: 119px;
}
.membership-btn {
  position: relative;
  height: 36px;
  width: 117px;
  border-radius: 8px;
  border: none;
  background-color: rgb(0, 0, 0);
  color: #04e08a;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  margin: -1px;
  cursor: pointer;
}

.membership-btn:hover {
  transition: all 0.3s;
  box-shadow: #04e08c36 0px 30px 60px -12px inset,
    #04e08c2d 0px 18px 36px -18px inset;
  background-color: rgba(0, 0, 0, 0.897);
}
.login-btn {
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 0.5px solid rgba(255, 255, 255, 0.4);
  background: var(--grad-2, linear-gradient(152deg, #81edb9 0%, #c2f0ed 100%));
  height: 36px;
  padding: 12px 20px;
  color: #082618;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
}
.login-btn:hover {
  transition: all 0.3s;
  box-shadow: #0d8155b0 0px 30px 60px -12px inset,
    #04e08cb0 0px 18px 36px -18px inset;
}
.main {
  background-image: black;
  height: 822px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 47px;
  margin-left: 231px;
  max-width: 780px;
}
.title {
  color: #fff;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 18px;
  margin-bottom: 32px;
}
.main_content {
  display: flex;
  justify-content: space-between;
  gap: 57px;
}

.main-content_block__item {
  display: flex;
  align-items: center;
  height: 82px;
  width: 250px;
  border-top: 1px solid rgba(43, 46, 48, 1);
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}
.main-content_block__item-active a {
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 82px;
  width: 200px;
  border-top: 1px solid rgba(43, 46, 48, 1);
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.main-content_block__item a {
  text-decoration: none;
  color: white;
}
.main-content_block__item__link a {
  font-weight: 600;
  line-height: normal;
}
.main-content_block-flex {
  display: flex;
  max-width: 670px;
  height: 680px;
  border-radius: 8px;
}
.main-content_block-picture {
  background-color: rgba(255, 255, 255, 0.1);
  background-image: url('../../../assets/rectangle-green.svg');
  height: 678px;
  width: 149px;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  border: 1px solid rgba(255, 255, 255, 0.116);
}

.main-content_block-text {
  height: 678px;
  width: 520.5px;
  background-color: rgba(255, 255, 255, 0.1);
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  border: 1px solid rgba(255, 255, 255, 0.116);
}
.main-content_block-text_item {
  height: 538px;
  padding-left: 35.5px;
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.116);
}
.main-content_block-text_item2 {
  border-top: 1px solid rgba(255, 255, 255, 0.041);
  display: flex;
  padding-left: 35.5px;
  color: #ccc;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  height: 112px;
  align-items: center;
}
.block-text_item-title {
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 17px;
}
.main-content_block-text_item .subtitle {
  color: #ccc;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 11px;
}
.main-content_block-text_item ul {
  padding-left: 15px;
  color: #ccc;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  width: 351px;
}
.main-content_block-text_item li {
  margin-bottom: 13px;
}
.block-text_item-title-2 {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  margin-top: 27px;
}
.main-content_block-text_item2_text {
  width: 225px;
  margin-right: 69px;
}
.block-text_item-title-2_ul {
  margin-top: 4px;
}
.contact-us {
  width: 160px;
  height: 43px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 0.5px solid rgba(255, 255, 255, 0.4);
  background: linear-gradient(152deg, #81edb9 0%, #c2f0ed 100%);
  color: #082618;
  text-align: center;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  justify-content: center;
}
.contact-us:hover {
  background: linear-gradient(152deg, #5ba883 0%, #81a7a4 100%);
  transition: 0.4s;
}
.email-link {
  color: #81edba;
}
.footer {
  height: 170px;
  background: #14171a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 26px;
}
.footer__block {
  width: 961px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.footer__block1 {
  display: flex;
  gap: 36px;
  justify-content: flex-start;
}
.footer__block1 ul {
  display: inline-flex;
  gap: 32px;
  list-style: none;
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  padding-left: 0px;
  margin: 0px;
}
.footer .copyright {
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.footer__block1 ul li {
  max-width: 174px;
}
.top-bar_block-mob {
  display: none;
}
.footer__block2 {
  display: flex;
  justify-content: space-between;
}
.link-bold {
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}
.social-media {
  display: flex;
  gap: 10px;
}
.burger-menu {
  display: flex;
  flex-direction: column;
  gap: 396px;
  position: absolute;
  z-index: 2;
  top: 0;
  width: 269px;
  height: 744px;
  background-color: black;
  padding: 53px 0px 21px 21px;
}
.burger-block {
  display: flex;
  flex-direction: column;
}
.burger-overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 812px;
  background-image: linear-gradient(
    180deg,
    rgba(1, 13, 26, 0.8) 40.38%,
    rgba(2, 16, 31, 0.2) 100%
  );
  backdrop-filter: blur(5px);
  cursor: pointer;
}
.burger {
  display: none;
}
.burger-logo {
  width: 84.88px;
}
.burger-link {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.burger-link_home {
  margin-top: 50px;
  margin-bottom: 24px;
}
.burger_membership-btn_background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#04e08a, #05cef2);
  border-radius: 13px;
  margin-right: 10px;
  height: 49px;
  width: 239px;
}
.burger_membership-btn {
  padding-left: 15px;
  padding-right: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 47px;
  width: 237px;
  border-radius: 13px;
  border: none;
  background-color: rgb(0, 0, 0);
  color: #04e08a;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  cursor: pointer;
}

.burger_membership-btn:hover {
  transition: all 0.3s;
  box-shadow: #04e08c36 0px 30px 60px -12px inset,
    #04e08c2d 0px 18px 36px -18px inset;
  background-color: rgba(0, 0, 0, 0.897);
}
.burger_login-btn {
  padding-left: 15px;
  padding-right: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 13px;
  border: 0.5px solid rgba(255, 255, 255, 0.4);
  background: linear-gradient(45deg, #81edb9, #c2f0ed);
  width: 239px;
  height: 49px;
  color: #103366;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 20px;
}
.burger_login-btn:hover {
  transition: all 0.3s;
  box-shadow: #0d8155b0 0px 30px 60px -12px inset,
    #04e08cb0 0px 18px 36px -18px inset;
}
.burger_bottom-links {
  display: flex;
  gap: 8px;
  margin-bottom: 13px;
}
.burger_bottom-links a {
  color: #fff;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
}
.burger_copyright {
  color: #fff;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  opacity: 0.5;
}
.main_content-mob {
  display: none;
}
.arrow:hover {
  color: #05f2cb;
}
.footer__block1 li {
  cursor: pointer;
}
@media screen and (max-width: 1270px) {
  .main-content_block-picture {
    display: none;
  }
  .main-content_block-text {
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
  }
  .main {
    padding-right: 30px;
  }
  .main_content {
    gap: 0px;
  }
}
@media screen and (max-width: 1110px) {
  .main {
    margin: 0px auto;
    padding-right: 0px;
    width: fit-content;
  }
  .main_content {
    flex-direction: column;
    max-width: 500px;
  }
  .container-career {
    margin-bottom: 200px;
  }
  .main-content_block-text_item {
    height: fit-content;
  }
  .main-content_block-text {
    height: 590px;
  }
  .main-content_block-text_item2 {
    flex-direction: column;
    justify-content: center;
    padding-left: 0px;
    height: fit-content;
  }
  .main-content_block-text_item2_text {
    text-align: center;
    margin: 0px auto;
  }
}

@media screen and (max-width: 830px) {
  .container-career {
    margin-bottom: 0px;
  }
  .top-bar {
    height: 90px;
    padding: 0px;
  }
  .top-bar_block {
    display: none;
  }
  .top-bar_block-mob,
  .burger {
    display: block;
    margin: 0px auto;
    position: relative;
    top: -17px;
    left: 10px;
  }
  .burger:hover {
    color: #05f2cb;
  }
  .status-bar {
    width: 328px;
  }
  .burger {
    position: absolute;
    top: 63px;
    left: 23px;
    cursor: pointer;
  }
  .title {
    font-size: 24px;
    margin-top: 12px;
    margin-bottom: 20px;
  }
  .footer {
    display: none;
  }
  .main {
    max-width: 333px;
    height: 1011px;
  }

  .main_content {
    display: none;
  }
  .main_content-mob {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .main-content_mob__item-container {
    background-color: #14171a;
    color: #fff;
    border-radius: 13px;
    width: 333px;
  }
  .main-content_mob__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 17px;
    padding-right: 15px;
    height: 60px;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .main-content_mob-text {
    background-color: #000000;
  }
  .main-content_block-text {
    max-width: 333px;
  }
  .main-content_block-text_item ul {
    max-width: 285px;
  }
  .hidden {
    visibility: hidden;
    position: absolute;
  }
  .active {
    visibility: visible;
  }

  .main-content_block-text_item {
    padding: 18.5px 19px 10px 17px;
    background-color: #14171a;
  }
  .block-text_item-title {
    font-size: 18px;
  }
  .block-text_item-title {
    margin-bottom: 12px;
  }
  .subtitle {
    margin-bottom: 14px;
  }
  .block-text_item-title-2 {
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .main-content_block-text_item2 {
    padding-top: 15px;
    padding-left: 0px;
    padding-bottom: 30px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    border: 1px solid rgba(255, 255, 255, 0.041);
    height: fit-content;
    background-color: #14171a;
  }
  .fake-margin {
    height: 10px;
    background-color: #000000;
  }
  .main-content_block-text_item2_text {
    justify-content: center;
    margin: 0px auto;
    margin-bottom: 20px;
    max-width: 285px;
  }
  .contact-us {
    border-radius: 13px;
  }
  .up {
    rotate: 180deg;
  }
}
