<div class="page-login">
  <div class="container-login">
    <div class="top-bar">
      <div class="top-bar_block">
        <img
          class="logo"
          src="../../../assets/logo.svg"
          alt="logo"
        />
        <a
          href="#"
          class="home-link"
          >Home</a
        >
      </div>
      <div class="top-bar_block">
        <div class="membership-btn_background"
          ><button class="membership-btn">Membership</button></div
        >
        <button class="login-btn">Login</button>
      </div>
      <div class="top-bar_block-mob">
        <img
          class="status-bar"
          src="../../../assets/status-bar-mob.svg"
          alt="status-bar"
        />
      </div>
      <img
        (click)="toggleBurgerMenu()"
        class="burger"
        src="../../../assets/burger.svg"
        alt="burger menu"
      />
    </div>

    <div class="main">
      <div class="title">We're Hiring</div>
      <div class="main_content">
        <div class="main-content_block">
          <div class="main-content_block__item-active"
            ><a
              class="main-content_block__item__link"
              href="#"
              >Film Editor and Creator for Trading Content</a
            ></div
          >
          <div class="main-content_block__item"
            ><a href="#">Full Stack Principal Software Developer</a></div
          >
          <div class="main-content_block__item"
            ><a href="#"
              >Sr Principal Software Engineer - C++ Programmer</a
            ></div
          >
        </div>
        <div class="main-content_block">
          <div class="main-content_block-flex">
            <div class="main-content_block-picture"></div>
            <div class="main-content_block-text">
              <div class="main-content_block-text_item">
                <div class="block-text_item-title"
                  >Hiring a Film Editor and Creator for Trading Content</div
                >
                <div class="subtitle">
                  We're looking to increase our exposure on social media, by
                  creating more content (specificallyYoutube Videos + shorts and
                  Reels on Instagram)</div
                >
                <ul>
                  <li
                    >You will be provided with Living rent free with me (Either
                    in Los Angeles or New York,open to be discussed) </li
                  ><li>Compensation is negotiable (DM to discuss)</li
                  ><li>Become a Partner</li>
                </ul>
              </div>
              <div class="main-content_block-text_item"></div>
              <div class="main-content_block-text_item"></div></div
          ></div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer_logo">
        <img
          src="../../../assets/logo-footer.svg"
          alt="logo"
        />
      </div>
    </div>
  </div>
</div>

<!-- Burger -->

<div
  *ngIf="burger === true"
  class="burger-menu"
>
  <div class="burger-block">
    <img
      src="../../../assets/logo-sidebar.png"
      alt="logo"
      class="burger-logo"
    />
    <a
      href="http:#"
      class="burger-link burger-link_home"
      >Home</a
    >
    <a
      href="http:#"
      class="burger-link"
      (click)="toCareer()"
      >Career</a
    >
  </div>
  <div class="burger-block">
    <div class="burger_membership-btn_background"
      ><button class="burger_membership-btn"
        ><span>Membership</span
        ><span
          ><img
            src="../../../assets/arrow-green.png"
            alt="arrow" /></span></button
    ></div>
    <button class="burger_login-btn"
      ><span>Login</span
      ><span
        ><img
          src="../../../assets/arrow-blue.svg"
          alt="arrow" /></span
    ></button>
    <div class="burger_bottom-links">
      <a href="#">Privacy Policy</a>
      <a href="#">Refund Policy</a>
      <a href="#">Terms & Conditions</a>
    </div>

    <div class="burger_copyright"
      >© Copyright 2022 - Xtrades. All rights reserved.</div
    >
  </div>
</div>
<div
  *ngIf="burger === true"
  class="burger-overlay"
  (click)="toggleBurgerMenu()"
></div>
