<div class="page-login">
  <div class="container-login">
    <div class="top-bar">
      <div class="top-bar_block">
        <img
          class="logo"
          src="../../../assets/logo.svg"
          alt="logo"
        />
        <a
          href="#"
          class="home-link"
          >Home</a
        ></div
      >
      <div class="top-bar_block">
        <button class="membership-btn">Membership</button
        ><button class="login-btn">Login</button>
      </div>
    </div>
  </div>
</div>
