.page-login {
  background: #000000;

  background-image: url('../../../assets/dots.png');
}
.container-login {
  width: 1440px;
  height: 1118px;
  background: #000000;
  margin: 0px auto;
  background-image: url('../../../assets/dots.png');
}
.top-bar {
  display: flex;
  height: 88px;
  padding-left: 24px;
  padding-right: 30px;
  align-items: center;
  justify-content: space-between;
}
.top-bar_block {
  display: flex;
  align-items: center;
}
.logo {
  width: 115px;
  height: 32px;
}
.home-link {
  margin-left: 48px;
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -1px;
  text-decoration: none;
  cursor: pointer;
}
.membership-btn {
  position: relative;
  display: flex;
  height: 36px;
  padding: 12px 20px;
  align-items: center;
  border: 1px solid;
  margin-right: 10px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.2);
  color: #04e08a;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
.membership-btn::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;
  background-image: linear-gradient(
    45deg,
    rgba(4, 224, 128, 1) 50%,
    rgba(0, 212, 255, 1) 50%
  );
}
.login-btn {
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 0.5px solid rgba(255, 255, 255, 0.4);
  background: var(--grad-2, linear-gradient(152deg, #81edb9 0%, #c2f0ed 100%));
  height: 36px;
  padding: 12px 20px;
  color: #082618;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
